<%= title(text: 'List of Quizzes') %>

<ul class="list-group">
  <% @quizzes.each do |quiz| %>
    <li class="list-group-item w-50 mx-auto rounded">
      <%= link_to quiz.name, quiz_path(quiz) %>
    </li>
  <% end %>
</ul>

